.about {
  background-color: $main-color-white;

  .main-wrapper {
    @extend %flex;
    justify-content: space-between;
  }
}

.about-photo {
  width: 560px;
  height: 579px;
}

.right-column {
  width: 549px;
}

.about__heading {
  color: #272727;
  font-family: Graphik;
  font-size: 40px;
  line-height: 60px;
  font-family: "Segoe UI";
  font-weight: 600;
}

.about__description {
  color: #676767;
  font-family: Graphik;
  font-size: 20px;
  line-height: 37px;
  font-family: "Segoe UI";
  font-weight: 400;
}