.blog {
  margin-top: 199px;
}

.blog__article {
  background-color: $main-color-gray;
  position: relative;
  margin-bottom: 179px;

  &::after {
    @extend %pseudo-element;
    top: -98px;
    right: 20px;
    width: 614px;
    height: 600px;
    background-image: url("../img/chair.png");
  }
}

.blog__article-heading {
  width: 523px;
  min-height: 261px;
  padding: 120px 0 99px 80px;
  
  a {
    color: #272727;
    font-size: 40px;
    line-height: 60px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
  }
}