.contacts {
  background-color: $footer-color-contacts;
  padding-top: 120px;
  padding-bottom: 130px;
}

.contacts__logo {
  margin-top: 62px;
  margin-left: 110px;
  width: 128px;
  height: 54px;
}

.contacts__list {
  display: grid;
  grid-template-columns: 400px 290px 325px auto;
}

.contacts__item {
  position: relative;

  address {
    color: $main-color-white;
    font-family: Gerbera, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
  }

  address a {
    color: $main-color-white;
  }

  &::before {
    @extend %pseudo-element;
    top: 0;
    left: -58px;
    height: 156px;
    bottom: 0;
    border-left: 1px solid #3d3d3d;
  }

  &--call h3::before {
    width: 61px;
  }

  &--write h3::before {
    width: 70px;
  }

  &--come h3::before {
    width: 112px;
  }
}

.contacts__heading {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #a8ca1e;
  font-family: Gerbera, Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3.3px;
  line-height: 38px;
  font-style: normal;

  &::before {
    @extend %pseudo-element;
    bottom: -3px;
    border-bottom: 1px solid #a8ca1e;
  }
}

.copyright {
  padding-top: 26px;
  padding-bottom: 22px;
  background-color: $footer-color-copyright;
  text-align: center;

  span {
    margin-left: 60px;
    opacity: 0.6;
    color: $main-color-white;
    font-family: Gerbera, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }
}