.contacts {
  background-color: $footer-color-contacts;
}

.contacts__logo {
  width: 128px;
  height: 54px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contacts__item {
  p {
    color: #fff;
  }
  p a {
    color: #fff;
  }
}

.contacts__heading {
  color: #a8ca1e;
  border-bottom: 1px solid;
}

.copyright {
  background-color: $footer-color-copyright;
  color: #a1a1a1;
  text-align: center;
}