.header-section {
  position: relative;
  min-height: 100vh;
  background-color: rgba(0, 0, 10, 0.35); 
  
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url("../img/main_background.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main_background@2x.jpg");
    }

    background-size: cover;
    width: 100%;
    height: 100vh;
  }
}

.line-wrapper {
  @extend %flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header__logo {
  margin-left: 8px;
  margin-top: 10px;
  width: 100px;
  height: 43px;
}

.header__list {
  list-style: none;
  padding-left: 0;
  @extend %flex;
  margin-left: -120px;
}

.header__item {
  margin: 0 28px 0;
}

.header__link {
  color: $main-color-white;
  font-family: Gerbera, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 25px;
  padding-bottom: 5px;
  letter-spacing: 0.1px;

  &:hover {
    border-bottom: 3px solid red;
  }  
}

.header__phone {
  font-family: Gerbera, Arial, sans-serif;
  font-weight: 400;
  position: relative;
  font-style: normal;

  & span {
    color: #cbcbcb;
    font-size: 16px;
    line-height: 22px;
  }

  & a {
    color: $main-color-white;
    font-size: 19px;
  }

  &::before {
    @extend %pseudo-element;
    background-image: url("../img/phone.svg");
    top: 5px;
    left: -25px;
    width: 14px;
    height: 32px;
  }
}

.promo__slider {
  position: absolute;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 63%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.promo__slider-item-description {
  width: 927px;
  height: 207px;
  color: #ffffff;
  font-family: Gerbera, Arial, sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 0;
}

.promo__slider-arrow {
  position: absolute;
  width: 70px;
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #000000;
  opacity: 0.44;
  bottom: 53%;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    opacity: 0.65;
  }

  &--left {
    left: -47%;
    background-image: url("../img/chevron_left.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--right {
    right: -47%;
    background-image: url("../img/chevron_right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}