.first-line

  .main-wrapper

    .line-wrapper

      h1.visually-hidden "Miture Architecture", студия дизайна интерьера

      img.header__logo(src="./img/header-logo.png", alt="Miture Architecture", width="100", height="43")

      nav.header__navigation
        ul.header__list
          li.header__item
            a.header__link(href="#") Главная
          li.header__item 
            a.header__link(href="#") Блог
          li.header__item 
            a.header__link(href="#") Портфолио
          li.header__item 
            a.header__link(href="#") Кейсы
          li.header__item 
            a.header__link(href="#") Магазин

      address.header__phone
        span Телефон#[br]
        a(href="tel:+7(343)255-655") +7 (343) 255-655
      
    .header__promo

      div.promo__slider
        div.promo__slider-item
          h2.promo__slider-item-heading.visually-hidden Преимущества
          p.promo__slider-item-description Объединяем ваши желания <br> и лучший интерьерный дизайн
          a.promo__slider-item-button.button(href="#") Подробнее
        p.promo__slider-arrows
          button.promo__slider-arrow.promo__slider-arrow--left(type="button")
          button.promo__slider-arrow.promo__slider-arrow--right(type="button")
      