extends components/particles/layout.pug

block title
  title Главная

block contentBlock
  //- .container
  //-   .row
  //-     .col-12
  //-         p Я пока не вникал в сакральный смысл этого контейнера через стили, потому пока спрячу его

  - var clientMariaFeedback = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.";

  section.about
    h2.visually-hidden О нас
    .main-wrapper
      //- Считаю данное изображение контентным, так как на нём есть пример работы, а значит он может повлиять на выбор клиента. Но честно говоря я вообще не особо понял смысл этой секции. "О компании"-ли она или часть "блога"? Если часть блога - тогда, конечно, изображение декоративное, а "Эмоциональный дизайн интерьера" - заголовок
      img.about-photo(src="./img/about-photo.jpg", srcset="./img/about-photo@2x.jpg 2x", alt="Пример дизайна интерьера", width="560", height="579")
      div.right-column
        b.about__heading Эмоциональный <br> дизайн интерьера
        p.about__description Elements studio – команда амбициозных молодых профессиональных дизайнеров с тонким чувством стиля. Cоздаем современные интерьеры в которых удобно жить.
        a.about__button.button(tabindex="0") Подробнее 

  section.blog
    .main-wrapper
      h2.visually-hidden Блог
      article.blog__article
        h3.blog__article-heading #[a(href="#") Как вписать скандинавскую мебель в советский интерьер]

  section.client-feedback
    .main-wrapper
      h2.client-feedback__heading Отзывы клиентов
      div.client-feedback__list
        +feedback("Маруся Иванова", "20 лет опыта", clientMariaFeedback)

      p.client-feedback__slider-arrows
        button.client-feedback__slider-arrow.client-feedback__slider-arrow--left(type="button")
        button.client-feedback__slider-arrow.client-feedback__slider-arrow--right(type="button")

  section.team
    .main-wrapper
      h2.team__heading Наша команда
      ul.team__list
        +card ("Иванов Алексей", "Ведущий менеджер отдела продаж")
        +card ("Иванов Алексей", "Ведущий менеджер отдела продаж")
        +card ("Иванов Алексей", "Ведущий менеджер отдела продаж")
        +card ("Иванов Алексей", "Ведущий менеджер отдела продаж")
