$main-color-white         : #ffffff;
$main-color-gray          : #f8f6f5;
$footer-color-contacts    : #202020;
$footer-color-copyright   : #151515;

$retina-dpi               : 144dpi;
$retina-dppx              : 1.5dppx;